<div class="panel panel-default">
    <div class="panel-body">
        <button class="btn btn-primary btn-xs" (click)="apropriate()" title="Apropriate in ALM">
            <i class="fa fa-adn fa-lg"></i>
        </button>
        <button title="Open BI Corporative" class="btn btn-primary btn-xs" (click)="openBi()" type="button">
            <i class="fa fa-bar-chart fa-lg"></i>
        </button>
        <button class="btn btn-primary btn-xs" (click)="importCsv()" title="Import CSV from BrOffice Version">
            <i class="fa fa-download fa-lg"></i>
        </button>
        <button class="btn btn-primary btn-xs" (click)="exportCsv()" title="Export CSV">
            <i class="fa fa-upload fa-lg"></i>
        </button>
    </div>
</div>
<app-messages></app-messages>