<div class="panel panel-default">
  <div class="panel-body">
    <h4 style="border-bottom: solid 0.1mm lightgrey">Start Task</h4>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Project
          <select ngModel title="Select project" class="selectpicker" name="project" required>
            <option *ngFor="let p of projects" [ngValue]="p">{{p.name}}</option>
          </select>
          <button title="Create new Project" type="button" class="btn btn-success" (click)="onClickNewProject()">New</button>
        </label>
        <label>Task
          <input placeholder="Task ID" ngModel name="taskId" required pattern="[1-9][0-9]{0,10}" size="6" maxlength="10" />
          <input placeholder="Task Name" ngModel name="taskName" required maxlength="50" />
          <input placeholder="Remarks" ngModel name="eventRemarks" maxlength="50" />
        </label>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">
          <i class="fa fa-play"></i>
        </button>
      </div>
    </form>
  </div>
</div>