<div class="row" *ngIf="event">
    <div class="col-lg-1">{{label}}</div>
    <div class="col-lg-1">
        <input type="checkbox" 
            [(ngModel)]="event.registered" name="registered">
    </div>
    <div class="col-lg-1">{{date | date : 'dd/MM/yy' }}</div>
    <div class="col-lg-2">
        <input type="time"
        <timepicker #startTimeEl="ngModel" name="startTime" (isValid)="isValid($event)"
            [(ngModel)]="event.startDate" 
            [showSpinners]="false" [showMeridian]="false" [mousewheel]="true"
            [min]="minTimeStart"
            [showSeconds]="true" [disabled]="disabled" required="true">
        </timepicker>
    </div>
    <div class="col-lg-2">
        <timepicker #endTimeEl="ngModel" name="endTime" (isValid)="isValid($event)"
            [(ngModel)]="event.endDate" 
            [showSpinners]="false" [showMeridian]="false" [mousewheel]="true"
            [showSeconds]="true" [disabled]="disabled"
            [min]="event.startDate" [max]="maxTimeEnd"
            [required]="required">
        </timepicker>
    </div>
    <div class="col-lg-1">{{event.task.project.name}}</div>
    <div class="col-lg-1">{{event.task.id}}-{{event.task.name}}</div>
    <div class="col-lg-3">
        <input type="text" name="eventRemark" placeholder="Remarks" 
            [disabled]="disabled"
            [(ngModel)]="event.remarks">
    </div>
</div>
