        <form #form="ngForm" (ngSubmit)="onSubmit()">            
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">Reg</div>
                    <div class="col-lg-1">Date</div>
                    <div class="col-lg-2">Start</div>
                    <div class="col-lg-2">End</div>
                    <div class="col-lg-1">Project</div>
                    <div class="col-lg-1">Task</div>
                    <div class="col-lg-3">Remarks</div>
                </div>
                <app-edit-event-row
                    [event]="nextPrevious.next"
                    label="Next"
                    [disabled]="true"
                    [required]="false">
                </app-edit-event-row>
                <app-edit-event-row
                    [form]="form"
                    [event]="event"
                    label="Current"
                    [minTimeStart]="minTimeStart"
                    [maxTimeEnd]="maxTimeEnd"
                    [disabled]="event.registered"
                    [required]="nextPrevious.next !== undefined">
                </app-edit-event-row>
                <app-edit-event-row 
                    [event]="nextPrevious.previous"
                    label="Previous"
                    [disabled]="true"
                    [required]="false">
                </app-edit-event-row>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Save</button>
                        <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
                    </div>
                </div>
            
        </form>
