<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-left" style="width: 10px"></th>    
          <th class="text-left">Ações</th>
          <th class="text-left">Tarefa</th>
          <th class="text-left">Status</th>
          <th class="text-center">Dom</th>
          <th class="text-center">Seg</th>
          <th class="text-center">Ter</th>
          <th class="text-center">Qua</th>
          <th class="text-center">Qui</th>
          <th class="text-center">Sex</th>
          <th class="text-center">Sab</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let summary of summarys">
          <tr>
            <td colspan="11" class="text-left">
              <span class="strong badge">
                Week: {{summary.startDate | date: 'dd/MM/yy'}} - {{summary.endDate | date : 'dd/MM/yy'}}
              </span>
            </td>
          </tr>
          <ng-container *ngFor="let taskSummary of summary.getTaskSummary()">
            <tr *ngIf="taskSummary.minutesRegistered">
              <td style="width: 10px"></td>
              <td>                  
                <button title="Open in ALM" (click)="openAlm(taskSummary.task)" type="button" 
                  class="btn btn-info btn-xs">
                  <i class="fa fa-external-link fa-lg"></i>
                </button>  
              </td>              
              <td class="text-left">{{taskSummary.task.id}}-{{taskSummary.task.name}}</td>
              <td class="text-left">Apropriado</td>
              <td *ngFor="let i of [0,1,2,3,4,5,6]" class="text-center">
                <span>{{taskSummary.minutesRegistered[i] | formatMinutes}}</span>
              </td>
            </tr>
            <tr *ngIf="taskSummary.minutesPending">
              <td style="width: 10px"></td>
              <td>                  
                  <button *ngIf="!taskSummary.minutesRegistered" title="Abrir no ALM" 
                    (click)="openAlm(taskSummary.task)" type="button" 
                    class="btn btn-info btn-xs">
                    <i class="fa fa-external-link fa-lg"></i>
                  </button>  
              </td>               
              <td *ngIf="!taskSummary.minutesRegistered" class="text-left">{{taskSummary.task.id}}-{{taskSummary.task.name}}</td>
              <td *ngIf="taskSummary.minutesRegistered"></td>
              <td class="text-left">Pendente</td>
              <td *ngFor="let i of [0,1,2,3,4,5,6]" class="text-center">
                <span>{{taskSummary.minutesPending[i] | formatMinutes}}</span>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td style="width: 10px"></td>
            <td colspan="2"></td>
            <td class="text-left"><span class="font-weight-bold">Total</span></td>
            <td *ngFor="let i of [0,1,2,3,4,5,6]" class="text-center" [title]="calcDate(summary, i) | date : 'dd/MM/yy'">
              <span class="font-weight-bold" 
                  [class.text-danger]="isAtipicTime(summary.minutesTotal[i])">{{summary.minutesTotal[i] | formatMinutes}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>