<div class="panel panel-default">
    <div class="panel-heading">
        <h4 style="border-bottom: solid 0.1mm lightgrey">Projects</h4>
        <div *ngFor="let p of projects">
            <label>
                <input type="checkbox" name="project" (change)="onChange()" [value]="p.project.name" [ngModel]="p.checked" /> {{p.project.name}}
            </label>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <input placeholder="New Project" ngModel name="newProject" required/>
                <button type="submit" class="btn btn-success" [disabled]="!form.valid">Add</button>
            </div>
        </form>
    </div>
</div>