<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <accordion>
        <accordion-group heading="Actions">
          <app-header></app-header>
        </accordion-group>
        <accordion-group isOpen="true" heading="Top Tasks">
          <app-top-tasks></app-top-tasks>
        </accordion-group>
        <accordion-group heading="Create/Start Task">
          <app-activate></app-activate>
        </accordion-group>
        <accordion-group heading="Summary">
          <app-summary></app-summary>
        </accordion-group>
        <accordion-group isOpen="true" heading="Log">
          <router-outlet></router-outlet>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
