<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-projects></app-projects>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <app-recents></app-recents>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-activate></app-activate>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-log></app-log>
        </div>
      </div>
    </div>
  </div>