<div class="container-fluid">

  <div class="row">
    <!-- <div class="meny-arrow"></div> -->
    <div class="col-md-4 meny">
      <accordion>
        <accordion-group [isOpen]="showConfigOpen" heading="Config">
          <app-config></app-config>
        </accordion-group>
        <accordion-group isOpen="true" heading="Top Tasks">
          <app-top-tasks></app-top-tasks>
        </accordion-group>
        <accordion-group heading="Create/Start Task">
          <app-activate></app-activate>
        </accordion-group>
      </accordion>
    </div>

    <div class="col-md-12 meny-content">
      <app-header></app-header>
      <accordion>
        <accordion-group heading="Gráficos">
            <app-charts></app-charts>
        </accordion-group>
        <accordion-group heading="Summary">
          <app-summary></app-summary>
        </accordion-group>
        <accordion-group isOpen="true" heading="Log">
          <router-outlet></router-outlet>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>