.task-color-1 {
    background-color: aqua;
}
.task-color-2 {
    background-color: brown;
}
.task-color-3 {
    background-color: burlywood;
}
.task-color-4 {
    background-color: blueviolet;
}
.task-color-5 {
    background-color: cadetblue;
}
.task-color-6 {
    background-color: chartreuse;
}
.task-color-7 {
    background-color: chocolate;
}
.task-color-8 {
    background-color: cornsilk;
}
.task-color-0 {
    background-color: crimson;
}