<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label obrigatorio" for="workFolder">Pasta onde se encontra o alm-apropriator-?-jar</label>
        <input class="form-control" placeholder="Pasta de trabalho da apropriação"
            [(ngModel)]="config.workFolder" id="workFolder" name="workFolder" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label obrigatorio" for="cpf">CPF</label>
        <input class="form-control" placeholder="CPF" [(ngModel)]="config.cpf" id="cpf" name="cpf" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label obrigatorio" for="browserType">Navegador</label>
        <select [(ngModel)]="config.browserType" class="form-control selectpicker" id="browserType" name="browserType" required>
          <option ngValue="firefox">firefox</option>
          <option ngValue="chrome">chrome</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="config.browserType === 'firefox'">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label" for="browserFirefoxProfile">Nome de um profile do firefox</label>
        <input class="form-control" placeholder="Nome profile"
            [(ngModel)]="config.browserFirefoxProfile" id="browserFirefoxProfile" name="browserFirefoxProfile" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label" for="browserLocation">Caminho para o Navegador</label>
        <input class="form-control" placeholder="Caminho para o Navegador" [(ngModel)]="config.browserLocation" id="browserLocation" name="browserLocation" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label" for="maxTopTasks">Tamanho da Lista tarefas frequentes</label>
        <input type="number" class="form-control" placeholder="Tamanho da Lista"
          [(ngModel)]="config.maxTopTasks" id="maxTopTasks" name="maxTopTasks" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!form.valid">
          Salvar
        </button>
        <button type="button" class="btn btn-warning btn-sm" (click)="onReset()">
          Limpar
        </button>
      </div>
    </div>
  </div>
</form>

