.ng-invalid.ng-dirty {
    border-color: red;
    color: red;
}

.panel-default > .panel-heading {
    background-color: lightgray;
    padding-left: 6px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.panel-default > .panel-body {
    background-color: lightgray;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: 4px;
}

.panel {
    margin-bottom: 5px;
}

label.required:before {
    content:"* ";
    color:  red; 
}

.font-weight-bold {
    font-weight: bold;
}
